In [1]:
import tensorflow
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler , LabelEncoder
import pickle

WARNING:tensorflow:From c:\Users\Hassan\Desktop\ML I\Generative AI Course With Langchain and Huggingface\Code\Tensorflow\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
data = pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
#preprocessing the data
### drop irrelevant data

data = data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
labelEncoder_gender=LabelEncoder()
data['Gender'] = labelEncoder_gender.fit_transform(data['Gender'] )
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [5]:
#one hot encoder 'Geography

from sklearn.preprocessing import OneHotEncoder
onehotEncoder_geo = OneHotEncoder()
geo_encoder = onehotEncoder_geo.fit_transform(data[['Geography']])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [6]:
geo_encoder.toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [7]:
onehotEncoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [8]:
geo_encoded_df = pd.DataFrame(geo_encoder.toarray(),columns=onehotEncoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [9]:
#Combain one hot encoder columns with orignal data
data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)

In [10]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [11]:
#save the encoder and scaler
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(labelEncoder_gender,file)

with open('onehot_encoder_gender.pkl','wb') as file:
    pickle.dump(onehotEncoder_geo,file)

In [12]:
#devide dataset into dependent and independet features
X = data.drop('Exited',axis=1)
y = data['Exited']

#split the data into training and testing set

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

#scale down these feature

scaler=StandardScaler()
X_train =scaler.fit_transform(X_train)
X_test =scaler.transform(X_test)

In [13]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [14]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [15]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

ANN Implementation artificial neural network

In [16]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

#Build our ANN model

model = Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)), #HL1
    Dense(32,activation='relu'), #HL2
    Dense(1,activation='sigmoid'), #HL3
])

model.summary()

WARNING:tensorflow:From c:\Users\Hassan\Desktop\ML I\Generative AI Course With Langchain and Huggingface\Code\Tensorflow\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [17]:
opt=tf.keras.optimizers.Adam(learning_rate=0.01)
loss = tf.keras.losses.BinaryCrossentropy()
loss

In [18]:
#compile the model
model.compile(optimizer="adam",loss="binary_crossentropy",metrics=['accuracy',tf.keras.metrics.Recall(name='recall')])

WARNING:tensorflow:From c:\Users\Hassan\Desktop\ML I\Generative AI Course With Langchain and Huggingface\Code\Tensorflow\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [19]:

#step up the tensorboard

log_dir="logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [20]:
#stepup early stopping 
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [21]:
history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\Hassan\Desktop\ML I\Generative AI Course With Langchain and Huggingface\Code\Tensorflow\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\Hassan\Desktop\ML I\Generative AI Course With Langchain and Huggingface\Code\Tensorflow\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 5s 8ms/step - loss: 0.4688 - accuracy: 0.7914 - recall: 0.1697 - val_loss: 0.3930 - val_accuracy: 0.8345 - val_recall: 0.2901
Epoch 2/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3820 - accuracy: 0.8438 - recall: 0.3619 - val_loss: 0.3535 - val_accuracy: 0.8550 - val_recall: 0.4377
Epoch 3/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3527 - accuracy: 0.8580 - recall: 0.4495 - val_loss: 0.3455 - val_accuracy: 0.8585 - val_recall: 0.4936
Epoch 4/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3430 - accuracy: 0.8596 - recall: 0.4714 - val_loss: 0.3502 - val_accuracy: 0.8570 - val_recall: 0.4987
Epoch 5/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3383 - accuracy: 0.8610 - recall: 0.4696 - val_loss: 0.3456 - val_accuracy: 0.8610 - val_recall: 0.4962
Epoch 6/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3352 - accuracy: 0.8620 - recall: 0.4878 - val_loss: 0.3452 - val_accuracy: 0.8605 - val_recall: 0.5089
Epoch 7/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3313 - accuracy: 0.8643 - recall: 0.4866 - val_loss: 0.3436 - val_accuracy: 0.8615 - val_recall: 0.5191
Epoch 8/100
250/250 [==============================] - 2s 6ms/step - loss: 0.3299 - accuracy: 0.8651 - recall: 0.4866 - val_loss: 0.3414 - val_accuracy: 0.8655 - val_recall: 0.4682
Epoch 9/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3264 - accuracy: 0.8644 - recall: 0.4951 - val_loss: 0.3394 - val_accuracy: 0.8620 - val_recall: 0.4707
Epoch 10/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3243 - accuracy: 0.8673 - recall: 0.4945 - val_loss: 0.3385 - val_accuracy: 0.8650 - val_recall: 0.5293
Epoch 11/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3238 - accuracy: 0.8661 - recall: 0.5006 - val_loss: 0.3379 - val_accuracy: 0.8675 - val_recall: 0.5115
Epoch 12/100
250/250 [==============================] - 1s 6ms/step - loss: 0.3213 - accuracy: 0.8687 - recall: 0.5055 - val_loss: 0.3404 - val_accuracy: 0.8630 - val_recall: 0.4275
Epoch 13/100
250/250 [==============================] - 2s 6ms/step - loss: 0.3201 - accuracy: 0.8683 - recall: 0.5030 - val_loss: 0.3407 - val_accuracy: 0.8655 - val_recall: 0.4911
Epoch 14/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3195 - accuracy: 0.8681 - recall: 0.5030 - val_loss: 0.3370 - val_accuracy: 0.8635 - val_recall: 0.4860
Epoch 15/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3167 - accuracy: 0.8690 - recall: 0.5109 - val_loss: 0.3438 - val_accuracy: 0.8650 - val_recall: 0.5115
Epoch 16/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3154 - accuracy: 0.8704 - recall: 0.5122 - val_loss: 0.3391 - val_accuracy: 0.8615 - val_recall: 0.4326
Epoch 17/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3146 - accuracy: 0.8710 - recall: 0.5128 - val_loss: 0.3453 - val_accuracy: 0.8580 - val_recall: 0.5318
Epoch 18/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3135 - accuracy: 0.8708 - recall: 0.5189 - val_loss: 0.3377 - val_accuracy: 0.8645 - val_recall: 0.5089
Epoch 19/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3109 - accuracy: 0.8715 - recall: 0.5207 - val_loss: 0.3366 - val_accuracy: 0.8650 - val_recall: 0.5064
Epoch 20/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3106 - accuracy: 0.8724 - recall: 0.5268 - val_loss: 0.3388 - val_accuracy: 0.8660 - val_recall: 0.4733
Epoch 21/100
250/250 [==============================] - 1s 6ms/step - loss: 0.3077 - accuracy: 0.8736 - recall: 0.5231 - val_loss: 0.3464 - val_accuracy: 0.8560 - val_recall: 0.5420
Epoch 22/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3070 - accuracy: 0.8731 - recall: 0.5371 - val_loss: 0.3411 - val_accuracy: 0.8590 - val_recall: 0.4936
Epoch 23/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3052 - accuracy: 0.8735 - recall: 0.5316 - val_loss: 0.3388 - val_accuracy: 0.8675 - val_recall: 0.4707
Epoch 24/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3033 - accuracy: 0.8744 - recall: 0.5298 - val_loss: 0.3431 - val_accuracy: 0.8600 - val_recall: 0.5038
Epoch 25/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3043 - accuracy: 0.8745 - recall: 0.5395 - val_loss: 0.3398 - val_accuracy: 0.8650 - val_recall: 0.4987
Epoch 26/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3024 - accuracy: 0.8741 - recall: 0.5371 - val_loss: 0.3414 - val_accuracy: 0.8640 - val_recall: 0.5267
Epoch 27/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3008 - accuracy: 0.8751 - recall: 0.5389 - val_loss: 0.3476 - val_accuracy: 0.8590 - val_recall: 0.5242
Epoch 28/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3004 - accuracy: 0.8761 - recall: 0.5481 - val_loss: 0.3472 - val_accuracy: 0.8630 - val_recall: 0.5369
Epoch 29/100
250/250 [==============================] - 1s 5ms/step - loss: 0.2997 - accuracy: 0.8766 - recall: 0.5420 - val_loss: 0.3450 - val_accuracy: 0.8620 - val_recall: 0.4733

In [22]:
model.save('model.h5')

c:\Users\Hassan\Desktop\ML I\Generative AI Course With Langchain and Huggingface\Code\Tensorflow\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [23]:
#load tensorboard extention

%load_ext tensorboard

In [24]:
print(log_dir)

logs/fit/20241122-011931

In [26]:
%tensorboard --logdir/fit

ERROR: Failed to launch TensorBoard (exited with 2).
Contents of stderr:
2024-11-22 01:21:10.498860: I tensorflow/core/util/port.cc:113] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
WARNING:tensorflow:From C:\Users\Hassan\Desktop\ML I\Generative AI Course With Langchain and Huggingface\Code\Tensorflow\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

usage: tensorboard [-h] [--helpfull] [--logdir PATH] [--logdir_spec PATH_SPEC]
                   [--host ADDR] [--bind_all] [--port PORT]
                   [--reuse_port BOOL] [--load_fast {false,auto,true}]
                   [--extra_data_server_flags EXTRA_DATA_SERVER_FLAGS]
                   [--grpc_creds_type {local,ssl,ssl_dev}]
                   [--grpc_data_provider PORT] [--purge_orphaned_data BOOL]
                   [--db URI] [--db_import] [--inspect] [--version_tb]
                   [--tag TAG] [--event_file PATH] [--path_prefix PATH]
                   [--window_title TEXT] [--max_reload_threads COUNT]
                   [--reload_interval SECONDS] [--reload_task TYPE]
                   [--reload_multifile BOOL]
                   [--reload_multifile_inactive_secs SECONDS]
                   [--generic_data TYPE]
                   [--samples_per_plugin SAMPLES_PER_PLUGIN]
                   [--detect_file_replacement BOOL]
                   {serve,dev} ...
tensorboard: error: unrecognized arguments: --logdir/fit

In [ ]:
##Load the pickle file